black==24.4.2
click==8.1.7
greenlet==3.0.3
msgpack==1.0.8
mypy-extensions==1.0.0
neovim==0.3.1
numpy==2.0.0
opencv-python==4.10.0.84
packaging==24.1
parso==0.8.4
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.2.2
pynvim==0.5.0
tkinter-tooltip==3.1.0
tomli==2.0.1
typing_extensions==4.12.2
